.header-wrap {
	.landing-logo {
		img {
			position: absolute;
			left: 153px;
			top: 15px;
			height: 35px;
		}
		p {
			position: absolute;
			left: 201px;
			top: -1px;
			font-family: $fontStack;
			font-size: 18px;
			font-weight: bold;
			letter-spacing: 1px;
			color: $fontColor;
		}
		span {
			position: absolute;
			margin-left: 5px;
			display: flex;
			font-size: 8px;
			letter-spacing: 0;
		}
	}
	.header_heading {
		position: absolute;
		font-size: 55px;
		font-family: $fontStack;
		font-weight: bold;
		letter-spacing: 2px;
		word-spacing: 0px;
		width: 500px;
		left: 153px;
		top: 48px;
		color: $fontColor;
		&::before {
			content: 'awesome';
		    background-color: $markColor;
		    color: $fontColor;
		    line-height: 1em;
		    position: absolute;
		    top: 74px;
		}
	}
	.header_text {
		position: absolute;
		top: 246px;
		left: 154px;
		white-space: pre-line;
		font-family: $fontStack;
		font-size: 12px;
		letter-spacing: 1px;
		color: $fontColor;
	}
	.header_button {
		position: absolute;
		top: 399px;
		left: 154px;
		border: none;
		background-color: $buttonColor;
		color: white;
		font-family: $fontStack;
		padding: 10px 35px;
		font-weight: bold;
	}
	.login {
		position: absolute;
		left: 389px;
		top: 405px;
		font-family: $fontStack;
		color: white;
	}
}
main {
	position: absolute;
	top: 600px;
	left: 653px;
	font-family: $fontStack;
	color: $fontColor;
}
.section_text {
	font-size: 35px;
	&::after {
			content: 'adventure';
		    background-color: $markColor;
		    color: $fontColor;
		    line-height: 1em;
		    position: absolute;
		    left: 179px;
		    top: 40px;
		}
}
footer {
	position: absolute;
	top: 1750px;
	background: $sectionBGcolor;
	width: 100%;
	height: 200px;
}
body {
	background: $bgPicture;
	background-color: $bgColor;
}
.section_card {
	display: flex;
	border-radius: 5px;
	background: $sectionBGcolor;
	margin-bottom: 50px;
	float: left;
}
.section_card_img {
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	height: 150%;
	width: 150%;
	border-radius: 5px;
}
.section_card_heading {
	color: white;
	font-family: $fontStack;
	font-weight: bold;
	text-align: center;

}
.section_card_text {
	color: #C0C3C4;
	font-family: $fontStack;
}
.section_card_right_container {
	margin-top: 50px;
}
.section_link {
	font-family: $fontStack;
	color: #C0C3C4;
	margin-left: 150px;
}
.section_banner {
	position: absolute;
	font-family: $fontStack;
	background: $gradient;
	width: 950px;
	color: $fontColor;
	font-size: 25px;
	height: 115px;
	border-radius: 5px;
  	right: 219px;
  	z-index: 1;
}
.section_banner_button {
	height: 30px;
	position: absolute;
	bottom: 40px;
	right: 120px;
	border: none;
	background-color: $buttonColor;
	color: white;
	padding: 0px 35px;
	font-weight: bold;
}
.section_banner_heading {
	position: absolute;
	right: 494px;
	bottom: 40px;
	font-weight: bold;
	&::after {
			content: 'start';
		    background-color: $markColor;
		    color: $fontColor;
		    line-height: 1em;
		    position: absolute;
		    left: 100px;
		    bottom: 3px;
		}
}
.section_banner_text {
	position: absolute;
	right: 610px;
	bottom: 25px;
	font-size: 13px;
	color: white;
}
.footer_logo {
	position: absolute;
	left: 140px;
	bottom: 60px;
	p {
		position: absolute;
		left: 60px;
		bottom: 10px;
		color: #C0C3CE;
		font-family: $fontStack;
		font-weight: bold;
		span {
			position: absolute;
			margin-left: 5px;
			display: flex;
			font-size: 8px;
			letter-spacing: 0;
		}
	}
}
.footer_text {
	position: absolute;
	left: 600px;
	bottom: 50px;
	width: 250px;
	font-size: 12px;
	font-family: $fontStack;
	color: #C0C3CE;
}
.footer-cr {
	position: absolute;
	right: 50px;
	bottom: 85px;
	color: #C0C3CE;
	font-family: $fontStack;
	font-size: 13px;
}