 $fontStack:'Source Sans Pro', sans-serif;
 $buttonColor: #699900;
 $fontColor: #2C2F3C;
 $markColor: #14A0C7;
 $bgPicture: url('../img/m-h-day.jpg') center center no-repeat;
 $bgColor: white;
 $sectionBGcolor: #2C2F3C;
 $gradient: linear-gradient(90deg, rgba(105,153,0,1) 0%, rgba(5,104,184,1) 100%);