 $fontStack:'Source Sans Pro', sans-serif;
 $markColor: #FF4E33;
 $fontColor: white;
 $buttonColor: #E3AC00;
 $bgPicture: url('../img/m-h-night.jpg') center center no-repeat;
 $bgColor: #21232E;
 $sectionBGcolor: #3B3F50;
 $gradient: linear-gradient(90deg, rgba(227,172,0,1) 0%, rgba(255,78,51,1) 100%);