body {
  margin: 0;
  font-family: "Gelasio", serif;
  width: 100%;
}

.header {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
  z-index: 1;
  height: 9vh;
}
.header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.header ul a {
  color: #000;
  text-decoration: none;
  padding-right: 20px;
}
.header ul a:hover {
  color: #bfba55;
}

.header-logo {
  text-decoration: none;
  color: #000;
  font-size: 1.6em;
}

.home {
  height: 695px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background: url("../img/home-bg.jpg") center top no-repeat;
  background-size: cover;
  text-align: center;
}

.banner {
  margin: auto;
}
.banner h1 {
  color: white;
  font-size: 4.2em;
  margin-bottom: 0;
}
.banner h5 {
  color: #bfba55;
  margin-top: 0;
}

button {
  background-color: white;
  border-radius: 20px;
  border: 1px solid grey;
  padding: 14px 40px;
  margin-top: 20px;
  color: grey;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  width: 900px;
  margin-top: 100px;
  padding-bottom: 30px;
  border-bottom: 1px solid silver;
}
.article img {
  max-width: 100%;
}
.article:last-of-type {
  border-bottom: none;
}
.article p {
  color: grey;
}

.author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.article-information {
  display: flex;
  align-items: center;
  color: grey;
}

span {
  margin-left: 20px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  height: 250px;
}
footer div {
  width: 390px;
  margin: auto;
}
footer p {
  color: grey;
}